.swiper-button-next,
.swiper-button-prev {
  color: white;
}
.swiper-pagination-bullet {
  background-color: white;
  height: 15px;
  width: 15px;
}

.ticker-wrap {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.ticker {
  display: flex;
  animation: ticker var(--ticker-duration, 50s) linear infinite;
}

.ticker__item {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px; /* Espaciado opcional entre imágenes */
}

.ticker__image {
  width: 150px; /* Ajusta el ancho deseado */
  height: 100px; /* Ajusta el alto deseado */
  object-fit: contain; /* Mantiene la proporción de la imagen */
}

@keyframes ticker {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
