@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish";
  src: url("./assets/fonts/Mulish.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Sansita";
  src: url("./assets/fonts/Sansita.ttf") format("truetype");
  font-style: normal;
}
